<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Static Content & MIME Types for Flutter Web -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      
      <remove fileExtension=".map" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
      
      <remove fileExtension=".symbols" />
      <mimeMap fileExtension=".symbols" mimeType="application/octet-stream" />
    </staticContent>

    <!-- URL Rewrite for Flutter Web Single Page Application (SPA) routing -->
    <rewrite>
      <rules>
        <rule name="Flutter Web SPA Rewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
  </system.webServer>
</configuration>
